tr {
    height: 70px;
}

table {
    display: block;
    table-layout: fixed;
    width: 100%;
}

thead {
    display: block;
    width: 100%;
}

tbody {
    display: block;
    height: 140px;
    width: 100%;
    overflow: auto;
}

td, th {
    width: 20%;
}