.contenedor {
    width: 60%;
    margin: auto;
    padding: 20pt;
    background-color:lightblue;
}

input, table, button {
    width: 100%;
}

input {
    text-align: right;
}

button, input {
    height: 40px;
}