html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

.contenedor {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: teal;
} 

.uno {
    position: absolute;
    height: 40%;
    width: 20%;
    top: 20%;
    left: 0%;
    overflow: auto;
    background-color: lightcoral;
}

.dos {
    position: absolute;
    height: 40%;
    width: 50%;
    top: 40%;
    left: 50%;
    overflow: auto;
    background-color: lightgray;
}

.tres {
    position: absolute;
    height: 40%;
    width: 30%;
    top: 10%;
    left: 30%;
    overflow: auto;
    font-size:1vw;/*La letra responsiva o escalable(1% respecto al viewport). */
    z-index: 3; 
    background-color: lightskyblue;
    opacity: 0.5;
}

img {
    max-height: 100%;
}